{% extends 'base.html' %}

{% block content %}
    <!-- Blog Section Start -->
    <section id="blog" class="text-center py-5 text-light">
      <div class="inner-overlay">
        <div class="container">
          <div class="row">
            <div class="col mt-5 pt-4">
              <h1 class="text-light">Blog</h1>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque,
                saepe.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->

    <!-- Blog Post Section Start -->
    <section id="blog-post" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col col-md-12">
            <div class="card-columns">
              <div class="card">
                <img src="/static/img/gallery1.jpg" class="img-fluid card-img-top" />
                <div class="card-body">
                  <h4 class="card-title">Blog Post One</h4>
                  <small class="text-muted">Posted by Rifat</small>
                  <hr />
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui cumque numquam corporis nam quidem quae sequi laboriosam
                    ab provident harum.
                  </p>
                  <a href="#" class="btn btn-dark btn-block">Read More</a>
                </div>
              </div>
              <div class="card">
                <img src="/static/img/gallery7.jpg" class="img-fluid card-img-top" />
                <div class="card-body">
                  <h4 class="card-title">Blog Post Two</h4>
                  <small class="text-muted">Posted by Rifat</small>
                  <hr />
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui cumque numquam corporis nam quidem quae sequi laboriosam
                    ab provident harum.
                  </p>
                  <a href="#" class="btn btn-dark btn-block">Read More</a>
                </div>
              </div>
              <div class="card">
                <img src="/static/img/gallery9.jpg" class="img-fluid card-img-top" />
                <div class="card-body">
                  <h4 class="card-title">Blog Post Three</h4>
                  <small class="text-muted">Posted by Rifat</small>
                  <hr />
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui cumque numquam corporis nam quidem quae sequi laboriosam
                    ab provident harum.
                  </p>
                  <a href="#" class="btn btn-dark btn-block">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-columns">
              <div class="card">
                <img src="/static/img/gallery3.jpg" class="img-fluid card-img-top" />
                <div class="card-body">
                  <h4 class="card-title">Blog Post Four</h4>
                  <small class="text-muted">Posted by Rifat</small>
                  <hr />
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui cumque numquam corporis nam quidem quae sequi laboriosam
                    ab provident harum.
                  </p>
                  <a href="#" class="btn btn-dark btn-block">Read More</a>
                </div>
              </div>
              <div class="card">
                <img src="/static/img/gallery5.jpg" class="img-fluid card-img-top" />
                <div class="card-body">
                  <h4 class="card-title">Blog Post Five</h4>
                  <small class="text-muted">Posted by Rifat</small>
                  <hr />
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui cumque numquam corporis nam quidem quae sequi laboriosam
                    ab provident harum.
                  </p>
                  <a href="#" class="btn btn-dark btn-block">Read More</a>
                </div>
              </div>
              <div class="card">
                <img src="/static/img/gallery4.jpg" class="img-fluid card-img-top" />
                <div class="card-body">
                  <h4 class="card-title">Blog Post Six</h4>
                  <small class="text-muted">Posted by Rifat</small>
                  <hr />
                  <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui cumque numquam corporis nam quidem quae sequi laboriosam
                    ab provident harum.
                  </p>
                  <a href="#" class="btn btn-dark btn-block">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Post Section End -->

{% endblock %}