{% extends 'base.html' %} {% block content %}

<!-- Contact Main Section Start -->
<section class="py-5" id="contact-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <form class="form-group" method="POST" action="{% url 'submitform' %}">
                {% csrf_token %}
              <h3 class="text-center">
                Please fill out this User Form {{fullName}}
              </h3>
                {{form}}
                <!-- <input
                  type="text"
                  placeholder="First Name"
                  name="firstName"
                  required
                  class="form-control form-control-lg p-2 m-2"
                />
                <input
                  type="text"
                  placeholder="Last Name"
                  name="lastName"
                  required
                  class="form-control form-control-lg p-2 m-2"
                /> -->
              
              <div>
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-dark btn-block"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title m-0">Get In Touch</h3>
            <p class="m-0 mb-2">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Architecto, consequuntur.
            </p>
            <h3 class="card-title m-0">Email</h3>
            <p class="m-0 mb-2">glozzome@info.com</p>
            <h3 class="card-title m-0">Address</h3>
            <p class="m-0 mb-2">House #100, Uttara, Dhaka</p>
            <h3 class="card-title m-0">Phone</h3>
            <p class="m-0 mb-2">+434 3434 3433</p>
            <p class="m-0 mb-2">+434 3434 3433</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Main Section End -->
{% endblock %}
