{% extends 'base.html' %}


{% block content %}
  
  
<div style="height: 110px;"></div>

  <!-- Hero Section -->

 <header class="hero text-white text-center d-flex align-items-center justify-content-center" 
        style="background: url('/static/image/spag.jpg') center/cover no-repeat; height: 70vh;">
    <div class="container">
    <h1 class="fw-bold">{{hero}}</h1>
    <p class="lead">{{sub_hero}}!</p>
  </div>
</header>
<!-- Contact Section -->
<section class="contact-section mt-5 pt-5">
  <div class="container">
    <div class="row g-4 align-items-stretch">
      <div class="col-md-6">
        <div class="contact-form">
          <h3 class="mb-4 text-center text-uppercase" style="color: #1b1f3a;">Get in Touch</h3>
          <form method="POST" action="{% url 'contactformhandling' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" name="name" class="form-control" placeholder="Enter your name"  />
            </div>
            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email"  />
            </div>
            <div class="mb-3">
              <label class="form-label">Subject</label>
              <input type="text" name="subject" class="form-control" placeholder="Subject"  />
            </div>
            <div class="mb-3">
              <label class="form-label">Message</label>
              <textarea class="form-control" name="message" rows="5" placeholder="Type your message here..." ></textarea>
            </div>
            <button type="submit" class="btn btn-custom w-100" style=" background-color:#3B82F6 ;">Send Message</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <h5 class="mb-4" style="color: #1b1f3a;">Contact Information</h5>
        <p><i class="bi bi-geo-alt-fill"></i> 123 Okereke Drive, Lagos, Nigeria</p>
        <p><i class="bi bi-telephone-fill"></i> +234 810 553 3755</p>
        <p><i class="bi bi-envelope-heart"></i> contact@flavorhaven.com</p>
        <p><i class="bi bi-clock-fill"></i> Mon - Sat: 9:00 AM - 10:00 PM</p>
        <p><i class="bi bi-door-closed"></i> Sunday: Closed</p>
      </div>
    </div>
  </div>
</section>
<div style="height: 20px;"></div>
<!-- Footer -->
{% endblock content %}
